:root {
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1126px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(52, 51, 51);
  border-radius: 5px;
}

li {
  list-style-type: none;

}

ul {
  padding: 0;
}

input {
  margin: 10px;
  padding: 5px;
}

button {
  margin: 10px;
  padding: 5px 20px;
  background-color:blueviolet;
  color: greenyellow;
  border-radius: 100%;
  border: 1px solid greenyellow;
  transition: 0.5s;
  width: max-content;
  display: inline-block;
}

button:hover {
  background-color: brown;
  border: 1px solid yellowgreen;
  transition: 0.2s;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}